body {
	font-family: Verdana, Arial, sans-serif;
}

.header {
	background-color: #00004C;
	color: white;
	font-size: 22px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
