body {
	font-family: Verdana, Arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-size: 14px;
	text-align: left;
	height: 40px;
	background: #00004C;
	color: white;
}

.odd {
	background: #E9E9E9;
	font-size: 12px;
	height: 30px;
}

.even {
	font-size: 12px;
	height: 30px;
}

.even:hover, .odd:hover {
	cursor: pointer;
	background: #D3D3D3;
}

#headerRow {
	background: #00004C;
}

span {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 10px;
}

#headerTable {
	height: 40px;
	margin-bottom: 10px;
}

#accordion .ui-icon {
	display: none;
}

.addBtn {
	font-size: 16px;
	font-weight: bold;
}
